

.dashboard {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

}

.dashboard-title-ctn {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.dashboard-title {
    font-size: 2.3rem;
    font-weight: 350;
    font-family: "Space Grotesk", sans-serif;
}

.dashboard-description {
    font-size: 1.2rem;
    font-family: "Space Grotesk", sans-serif;
    color: rgba(0, 0, 0, 0.8);
}

.dashboard-stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.dashboard-stat {
    padding: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dashboard-stat:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.stat-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Space Grotesk", sans-serif;
}

.stat-icon {
    max-width: 1rem;
    color: rgba(0, 0, 0, 0.8);
}

.stat-value {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 440;
    font-size: 2rem;
}


.dashboard-tab-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    text-align: center;
    border: solid rgba(0, 0, 0, 0.2) 1px;
    border-radius: 6px;


}

.dashboard-list {
    border: transparent 2px solid;
    padding: 1rem;
    font-family: "Space Grotesk", sans-serif;
}

.dashboard-list:focus {
    background-color: rgba(241, 241, 241, 0.6);
    border-bottom: black 2px solid;
}

.dashboard-tab-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 0rem;
}

.dashboard-tab-content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: solid 1px rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    padding: 0.5rem;
    max-width: 250px;
    width: 100%;
}

.search-container:focus-within {
    border: solid 1px rgba(0, 0, 0, 1);
}

.search-icon {
    max-width: 16px;
    color: rgba(0, 0, 0, 0.5);
}

.search-input {
    border: none;
    color: rgba(0, 0, 0, 1);
    width: 90%;
    font-family: "Space Grotesk", sans-serif;
}

.search-input:focus {
    outline: none;
}

.action-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    border-radius: 8px;
    background-color: black;
    color: white;
    width: 150px;
}

.dashboard-content-ctn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dashboard-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid rgba(0, 0, 0, 0.2) 1px;
    padding: 2rem;
    border-radius: 12px;
    transition: box-shadow 0.3s ease;
    font-family: "Space Grotesk", sans-serif;
}

.dashboard-content:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.dashboard-content-left {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.booking-details-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .8rem;
}

.booking-name {
    font-weight: 490;
}

.booking-status {
    background-color: #e8f9f7;
    border-radius: 20px;
}

.booking-status p {
    padding: .3rem .8rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #4ba5c0;
    font-weight: 600;
    font-size: .9rem;
}

.booking-status.booking-active {
    background-color: #e8f9ef;
    border-radius: 20px;
}

.booking-status.booking-active p {
    padding: .3rem .8rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #15803d;
    font-weight: 600;
    font-size: .9rem;
}

.booking-status.booking-return {
    background-color: #f5e8bc;
    border-radius: 20px;
}

.booking-status.booking-return p {
    padding: .3rem .8rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #ff8800;
    font-weight: 600;
    font-size: .9rem;
}

.booking-status.booking-complete {
    background-color: #ebebee;
    border-radius: 20px;
}

.booking-status.booking-complete p {
    padding: .3rem .8rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #c9c8c8;
    font-weight: 600;
    font-size: .9rem;
}
.booking-status.booking-cancel {
    background-color: #f8d8d8;
    border-radius: 20px;
}

.booking-status.booking-cancel p {
    padding: .3rem .8rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #ff0000;
    font-weight: 600;
    font-size: .9rem;
}


.booking-details-bottom {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    color: rgba(0, 0, 0, 0.5);
}

.dashboard-content-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}

.booking-price {
    font-size: 1.5rem;
}

.content-action-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: .6rem 1rem;
    border-radius: 10px;
    border: solid 1px rgba(0, 0, 0, 0.4);
}

.content-action-btn:hover {
    cursor: pointer;
    border: solid black 1px;
}

/* Fleet */
.fleet-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: .6rem 1rem;
    border-radius: 10px;
    border: rgba(0, 0, 0, 0.4) solid 1px;
}

.header-title {
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
}

.fleet-button:hover {
    background-color: rgba(241, 241, 241, 0.6);
}

.dashboard-content-ctn-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 2rem;
}

.car-details-top {
    display: flex;
    flex-direction: column;
}

.car-db-cat {
    font-size: .88rem;
    color: rgba(0, 0, 0, 0.5)
}

.dashboard-content-left-fleet {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.car-details-bottom {
    display: flex;
    flex-direction: column;
}

.car-db-price {
    font-size: 1.5rem;
    font-weight: 300;
}

.car-status {
    background-color: #e8f9ef;
    border-radius: 20px;
}

.car-status.rented
{
    background-color: #f9e8e8;
    border-radius: 20px;
}

.car-status p {
    padding: .3rem .8rem;
    letter-spacing: 0.1em;
    color: #15803d;
    font-weight: 600;
    font-size: .9rem;
}

.car-status.rented p
{
    padding: .3rem .8rem;
    letter-spacing: 0.1em;
    color: #f10303;
    font-weight: 600;
    font-size: .9rem;
}