body
{
    font-family: "Space Grotesk",sans-serif;
}
.More-info-heading
{
    padding: 4rem 2rem;
    margin-bottom: 1rem;
}
.info-title-div
{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.info-title
{
    font-weight: 350;
    font-size: 3rem;
}

.info-subtext
{
    max-width: 800px;
    color: rgba(0,0,0,0.6);
}

.vehicle-pick-up
{
    padding: 7.83rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    
}
.pickup-heading-ctn
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
}
.pickup-title
{
    font-weight: 350;
}
.pickup-sub
{
    color: rgba(0,0,0,0.6);
}
.pickup-info-grid
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.pickup-info-card
{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    border: solid 1px rgba(0,0,0, 0.2);
    padding: 2rem;
    border-radius: 9px;
    align-items: center;
    text-align: center;
    background-color: white;
}



.bgCol
{
    background-color: rgb(216, 216, 216,0.2);
}

.Office-location
{
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem;
    margin-bottom: 1rem;
    gap: 5rem;
}
.address-content-grid
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}
.address-content-left
{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.address-ctn
{
    border: solid rgba(0,0,0, 0.2) 1px;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.address-title-ctn
{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    gap: 1rem;
    text-align: left;
    
}

.address-content-right
{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

