.payment-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem 2rem;
}

.car-back-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1rem;
    gap: .4rem;
}

.car-back-btn:hover
{
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.car-back-btn svg {
    max-width: 16px;
}

.payment-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-family: "Space Grotesk", sans-serif;
}

.payment-hero h1 {
    font-weight: 300;
}

.payment-hero p {
    color: rgba(0, 0, 0, 0.6);
}

.payment-divider {
    width: 9rem;
    border-bottom: #000000 solid 1.5px;
}

.payment-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3rem;
    padding: 3rem 0rem;
}

.summary-ctn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: "Space Grotesk", sans-serif;
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 1rem;
}

.summary {
    display: flex;
    flex-direction: row;
}

.summary p {
    font-weight: 100;
}

.summary-image img
{
    object-fit: contain;
    width: 100%;
}

.summary-name {
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

.car-name {
    font-size: 1.3rem;
    font-weight: 100;
}

.car-brand {
    font-size: .8rem;
}

.summary-name-bot {
    font-size: .8rem;
    color: rgba(0, 0, 0, 0.6);
}

.content-divider {
    border-bottom: solid rgba(0, 0, 0, 0.2) 1px;
}

.summary-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.details-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: .8rem;
    color: rgba(0, 0, 0, 0.6);
}

.final-summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.details-super-ctn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.details-ctn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: "Space Grotesk", sans-serif;
}

.details-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 300;
}

.card-header svg {
    max-width: 16px;
}
.details-grid
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: "Space Grotesk", sans-serif;
    gap: 1rem;
}
.input-detail-ctn
{
    display: flex;
    flex-direction: column;
    gap: .3rem;
}
.input-detail-ctn select
{
    border: rgba(0, 0, 0, 0.4) solid 1px;
    border-radius: 6px;
    padding: .5rem .75rem;
}

.input-detail-ctn label
{
    font-size: .7rem;
    color:rgba(0, 0, 0, 0.4);
}
.input-detail-ctn input
{
    border: rgba(0, 0, 0, 0.4) solid 1px;
    border-radius: 6px;
    padding: .5rem .75rem;
}
.input-detail-ctn input:focus
{
    outline: none;
    border: #000000 solid 1px;
}

.details-col
{
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.details-row
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.form-footer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.form-footer-message
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .3rem;
    color: rgba(0, 0, 0, 0.4);
    font-size: .8rem;
}
.form-footer-message svg
{
    max-height: 16px;
}
.pay-btn
{
    color: white;
    background-color: black;
    padding: 1rem 1rem;
    border-radius: 10px;
    font-size: .8rem;

}


 @media (max-width: 768px) 
 {
    .payment-content,.details-grid,.details-row
    {
        grid-template-columns: 1fr;
    }
 }