body
{
    background-color: #f9fafb;
}
.user-dashboard {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #f9fafb;
}
.overlay-price
{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 100;
}
.user-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: solid rgba(0, 0, 0, 0.2) 1px;
    border-radius: 12px;
    transition: box-shadow 0.3s ease;
    font-family: "Space Grotesk", sans-serif;
    padding: 1rem;
    gap: 1rem;
    font-size: 1rem;
    background-color: white;
}

.info-heading {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
}

.info-heading p {
    font-weight: 450;
}

.info-heading svg {
    max-height: 15px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    color: rgba(0, 0, 0, 0.6);
}

.info svg {
    max-height: 15px;
}

.grid-title {
    font-size: 1.2rem;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 300;
}

.user-content-grid {
    display: grid;
    --gap: 1rem;
    --maxCol: 4;
    grid-template-columns: repeat(auto-fit, minmax(350px, calc((100% - calc(var(--maxCol) - 1)* var(--gap)) / var(--maxCol))));
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.user-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    background-color: white;
    border: rgba(0, 0, 0, 0.2) solid 1px;
    border-radius: 8px;
    padding: 1.5rem;
}

.user-content-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.booking-sn {
    font-weight: 300;
}

.booking-status {
    display: flex;
    align-items: center;
    background-color: #e8f9f7;
    border-radius: 20px;
}

.booking-status p {
    padding: .3rem .8rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #4ba5c0;
    font-weight: 600;
    font-size: .9rem;
}

.booking-status.booking-active {
    display: flex;
    align-items: center;
    background-color: #e8f9ef;
    border-radius: 20px;
}

.booking-status.booking-active p {
    padding: .3rem .8rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #15803d;
    font-weight: 600;
    font-size: .9rem;
}

.booking-status.booking-return {
    display: flex;
    align-items: center;
    background-color: #f5e8bc;
    border-radius: 20px;
}

.booking-status.booking-return p {
    padding: .3rem .8rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #ff8800;
    font-weight: 600;
    font-size: .9rem;
}

.booking-status.booking-complete {
    display: flex;
    align-items: center;
    background-color: #ebebee;
    border-radius: 20px;
}

.booking-status.booking-complete p {
    padding: .3rem .8rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #c9c8c8;
    font-weight: 600;
    font-size: .9rem;
}
.booking-status.booking-cancel {
    background-color: #f8d8d8;
    border-radius: 20px;
}

.booking-status.booking-cancel p {
    padding: .3rem .8rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #ff0000;
    font-weight: 600;
    font-size: .9rem;
}
.user-content-mid-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #f9fafb;
    padding: 0.5rem;
    border-radius: 12px;
    gap: 1rem;
}

.user-content-info
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Space Grotesk",sans-serif;
}
.content-brand
{
    font-size: .7rem;
    color: rgba(0, 0, 0, 0.6);
}

.user-content-bot
{
    color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.bot-ctn
{
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
}

.pickup
{
    display: flex;
    flex-direction: row;
    gap:.3rem;
    justify-content: flex-start;
    align-items: center;
}
.return
{
    display: flex;
    flex-direction: row;
    gap:.3rem;
    justify-content: flex-start;
    align-items:center
}
.view-car-btn, .overlay-pay-btn
{
    border: solid 1px rgba(0, 0, 0, 0.3);
    padding: .5rem;
    border-radius: 8px;
    font-family: "Space Grotesk", sans-serif;
}

.view-car-btn:hover, .overlay-pay-btn:hover
{
    border: solid black 1px;
    cursor: pointer;
    background-color: #f9fafb;
    
}
.view-car-btn:active
{
    transform: translateY(3px);
}