*
{
    margin: 0;
}

.hide 
{
    display: none !important;
}

.login-ctn {
     display: flex;
     flex-direction: column;
     gap: 1rem;
     background-color: white;
     border-radius: 5px;
     box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
     padding: 1rem;
     min-width: 300px;
     width: 50vw;
     max-width: 448px;
}

.bg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #f6f7f9;
}
.login-header
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-family: "Space Grotesk", sans-serif;
}
.login-header h1
{
    font-weight: 440;
}
.login-header p
{
    color: rgba(0, 0, 0, 0.6);
}
.login-cta
{
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.input-field-ctn
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.input-field
{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    color: rgba(0, 0, 0, 0.6);
    font-family: "Space Grotesk", sans-serif;
}
.input-ctn
{
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     gap: .5rem;
     align-items: center;
     border-radius: 6px;
     padding: 0.8rem;
     border: solid 1px rgba(0, 0, 0, 0.2);
}
.input-symbol
{
    height: 1rem;
}
.input-ctn input
{
    border: none;
    width: 90%;
}
.input-ctn input:focus
{
    outline: none;
}

.password-input-ctn
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.user-action-btn
{
    background-color: black;
    color: white;
    border-radius: 6px;
    padding: 1rem;
    font-family: "Space Grotesk",sans-serif;
}

.extra-option
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    
}

.extra-option a
{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.6);
}

.extra-option a:hover
{
    text-decoration: underline;
}